<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Conifères</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="/" >Retour à l'accueil</a>
    </div>
    <h1>Conifères</h1>

    <!-- Lien vers une autre page -->
    <p><a href="/sapins">sapins</a></p>
    <p><a href="/épinettes">épinettes</a></p>
    <p><a href="/mélèzes">mélèzes</a></p>
    <p><a href="/pins">pins</a></p>
    <p><a href="/pruches">pruches</a></p>
    <p><a href="/thuyas">thuyas</a></p>
    <p><a href="/genévriers">genévriers</a></p>
</body>
</html>
