<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <title>Sapins</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
</head>
<body>
    <p><a href="/conifères">Retour à conifères</a></p>
    <h1>Les Sapins</h1>

    <p>Le sapin baumier, ou Abies balsamea, est indigène de l’Amérique du Nord et particulièrement répandu dans les forêts boréales du sud du Québec. C’est le seul représentant indigène du genre Abies au Québec et c’est le plus nordique de tous les sapins de la planète. Toutes les autres espèces offertes sur le marché sont introduites.</p>
    <p>Chez les Premières Nations, on rapporte qu’il était un arbre très important du quotidien. Il faisait partie intégrante de la pharmacopée, mais aussi, tout comme l’épinette, son bois servait pour la fabrication de canots, de raquettes et de toboggan. Ses branches étaient utilisées pour les lits dans les habitations traditionnelles et ses racines servaient de cordage pour coudre les pièces de canots d’écorce. La gomme de sapin pouvait être utilisée pour calfeutrer les jointures et rendre ainsi les canots imperméables.</p>
    <p>De nos jours, son importance économique et écologique reste majeure. Son bois, léger et résistant, est utilisé dans la construction et la fabrication de meubles, sa fibre, dans l’industrie des pâtes et papiers. Finalement, sa gomme et son huile essentielle sont recherchées pour leurs propriétés médicinales et aromatiques. Et n’oublions pas, bien sûr, la production de sapins de Noël.</p>
    <img src="{{ url_for('static', filename='sapin_pic1.jpg') }}" alt="Image" class="image-sapin1">
    <p></p>
    <p></p>
    <p></p>
</body>
</html>
